.highlight-positive,
[data-highlight][data-type="positive"] {
  box-shadow: rgb(70 215 70) 0px 3px 0px 0px;
  background-color: rgb(88 255 113 / 27%);
}

.highlight-negative,
[data-highlight][data-type="negative"] {
  box-shadow: 0px 3px 0 0 #ff0000;
  background-color: rgb(255 60 60 / 27%);
}

.highlight-info,
[data-highlight][data-type="info"] {
  box-shadow: 0px 3px 0 0 #007bff;
  background-color: rgb(60 60 255 / 27%);
}

.highlight-context,
[data-highlight][data-type="context"] {
  box-shadow: 0px 3px 0 0 #ffc107;
  background-color: rgb(255 193 60 / 27%);
}

#loading-indicator {
  display: none;
  position: fixed;
  z-index: 9999;
  bottom: 2rem;
  right: 2rem;
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #007bff;
  border-radius: 8px;
}

body[data-loading-job-annotations="true"] #loading-indicator {
  display: block;
}
